* {
    font-family: "Georgia", serif;
}
  
body{
    background: url("Pictures/BugmageddonBackground.png") no-repeat fixed;
    background-size: cover;
    background-position-x: center;
    margin: 0;
    padding: 0;
}
.HeaderBackground {
    background: #343846;
}
.FooterBackground {
    background: #343846;
}

.Pannel h2{
    text-align: center;
    color: white;
    font-size: 20px;
}
@media (max-width: 768px) { /* Tablet and below */
    .Pannel h2 {
        font-size: 18px;
    }
}
@media (max-width: 480px) { /* Mobile */
    .Pannel h2 {
        font-size: 16px;
    }
}

/* Page Specific content */
.GameImage {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    border-radius: 5px;
}
.Links {
    color: #fcc50f;
}

.video-wrapper {
  position: relative;
  padding-bottom: 42.85%;
  height: 0;
  overflow: hidden;
  margin: 40px auto;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}
