* {
    font-family: "Georgia", serif;
}
  
body{
    background: url("Pictures/Background2.png");
    background-size: 200px 200px;
    background-repeat: repeat;
    margin: auto;
}
.HeaderBackground {
    background: #8B7070;
}
.FooterBackground {
    background: #8B7070;
}

/* Page Specific content */

.Image {
    margin-top: 0px;
    width: 250px;
    border-radius: 25px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
}

.TextAndImageCombined {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding-top: 40px;
}
.BottomImage {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    border-radius: 20px;
}
