* {
    font-family: "Georgia", serif;
}
  
body{
    background: url("Pictures/EndlessDreamerBackground.png") no-repeat fixed;
    background-size: auto;
    background-position-x: center;
    margin: 0;
    padding: 0;
}
.HeaderBackground {
    background: #330D20;
}
.FooterBackground {
    background: #330D20;
}

.Pannel h2{
    text-align: center;
    color: white;
    font-size: 20px;
}
@media (max-width: 768px) { /* Tablet and below */
    .Pannel h2 {
        font-size: 18px;
    }
}
@media (max-width: 480px) { /* Mobile */
    .Pannel h2 {
        font-size: 16px;
    }
}

/* Page Specific content */
.GameImage {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    border-radius: 5px;
}
.Links {
    color: #B03B7C;
}
