* {
  font-family: "Georgia", serif;
}

body{
    background: url("Pictures/Background2.png");
    background-size: 200px 200px;
    background-repeat: repeat;
    margin: auto;
}

/* Backgroung Pannel */
.Pannel {
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%;
    height: auto;
    padding-bottom: 50px;
    background-color: rgba(1, 1, 1, 0.5);
    transform: translateX(-50%);
    z-index: -1;
    backdrop-filter: blur(3px);
}
.Pannel h1{
    text-align: center;
    padding-top: 70px;
    font-size: 75px;
    font-weight: bold;
    color: white;
}

/* Header */
.HeaderBackground {
    background: #8B7070;
    /*background: #1e0906;*/
    height: 100px;
    width: 100%;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
    top: 0;
    position: fixed;
}
header nav ol {
    float: right;
}
header nav ol li {
    display: inline-block;
    padding-top: 18px;
}
header nav ol li a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    padding-inline: 2rem;
}
.Company_Logo {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    width: 5%;
}

/* Footer */
.FooterBackground {
    background: #8B7070;
    height: 50px;
    width: 100%;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    display: flex;
}
footer nav ol li {
    display: inline-block;
    padding-top: 18px;
}
footer nav ol li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-inline: 2rem;
}

/* Page Specific content */
.IndexImage {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 20px;
}
.IndexText {
    display: block;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}

@media (max-width: 768px) { /* Tablet and below */
    .IndexText {
      font-size: 14px;
    }
}
  
@media (max-width: 480px) { /* Mobile */
    .IndexText {
      font-size: 12px;
    }
}