* {
  font-family: "Georgia", serif;
}

body{
    background: url("Pictures/Background.png");
    background-size: 500px 500px;
    background-repeat: repeat;
    margin: auto;
}

nav {
    padding-bottom: 20px;
}

nav ol {
    float: right;
}

nav ol li {
    display: inline-block;
    padding-top: 18px;
}

nav ol li a {
    font-size: 28px;
    color: white;
    text-decoration: none;
    padding-inline: 2rem;
    padding-bottom: 5px;
}

.Company_Logo {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    width: 5%;

}

.Header_Background {
    background: #1e0906;
    height: 100px;
    width: 100%;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.3);
}

.Pannel {
    position: absolute;
    top: 0;
    left: 50%;
    width: 70%; /* Adjust width as needed */
    height: 400%;
    background-color: rgba(1, 1, 1, 0.5);
    transform: translateX(-50%); /* Centers the strip */
    z-index: -1; /* Moves behind the panel */
    backdrop-filter: blur(3px); /* Applies blur to the background */
}

.Pannel h1{
    text-align: center;
    padding-top: 70px;
    font-size: 75px;
    font-weight: bold;
    color: white;
}

.Home_Page_Image {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 20px;
}

.Home_Page_Text {
    display: block;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}
