* {
    font-family: "Georgia", serif;
}
  
body{
    background: url("Pictures/Background2.png");
    background-size: 200px 200px;
    background-repeat: repeat;
    margin: auto;
}
.HeaderBackground {
    background: #8B7070;
}
.FooterBackground {
    background: #8B7070;
}

/* Page Specific content */

.GameImage {
    display: block;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width: 180px;
    border-radius: 20px;
}

.TextAndImageCombined {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding-top: 40px;
}